@page "/"

@inject EmployeeService EmployeeService

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <div class="row">
            @foreach (var employee in employees)
            {
                <div class="col-lg-4 mb-2">
                    <EmployeeCard Name=@employee.Name JobTitle=@employee.JotTitle Department=@employee.Department Image=@employee.Image ID=@employee.ID Joined=@employee.Joined.ToShortDateString() Email=@employee.Email></EmployeeCard>
                </div>
            }
        </div>
    </div>
}

@code {
    private EmployeeModel[]? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployeeAsync();
    }
}